[% INCLUDE addons_header.tt %]

<h2>[% addon_title %]</h2>

<p>Apologies; comments are not enabled on <a href="[% full_cgi_url %]?[% node_param %]">[% node_name %]</a>.  Please see <a href="[% full_cgi_url %]?Contact_RGL">our contact page</a> if you'd like to tell us something.</p>

[% INCLUDE addons_footer.tt %]
