[% USE CGI %]
[% INCLUDE addons_header.tt %]

<div class="see_other_searches">
  See also: <a href="[% full_cgi_url %]?Ways_To_Search_RGL">Ways To Search RGL</a>
</div>

<h2>[% addon_title %]</h2>

[% INCLUDE index_form.tt %]

[% IF show_search_example %]
  <div class="category_search_example">
      Example search: <a href="[% full_cgi_url %]?action=index&amp;cat=cafes&amp;loc=fitzrovia">cafes in Fitzrovia</a>
  </div>
[% END %]

[% INCLUDE addons_footer.tt %]
